<p style="color: green"><%= notice %></p>
<div class= 'container'>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <%= form_tag(users_path, method: :get, class: "d-flex") do %>
        <%= text_field_tag :search, params[:search], placeholder: 'search', class: "form-control me-2" %>
        <%= submit_tag 'Search', class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </nav>

  <div class='pt-5'>
    <h4>Users</h4>
    <%= link_to "New user", new_user_path, class: "btn btn-outline-primary" %>
  </div>

  <div id="users", class='pt-5'>
    <table class="table table-responsive table-bordered table table-striped">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Username</th>
          <th>Public repositories count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><img src="<%= user.avatar %>" width=50 height=50/></td>
            <td><%= user.username %></td>
            <td><%= user.repositories_count %></td>
            <td>
              <%= link_to "Show", user, class: "btn btn-outline-info" %>
              <%= button_to "Destroy", user, method: :delete, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= will_paginate @users %>
  </div>
</div>
