<p style="color: green"><%= notice %></p>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= form_tag(user_path, method: :get, class: "d-flex") do %>
      <%= text_field_tag :search, params[:search], placeholder: 'search by title, language, star count', class: "form-control me-2" %>
      <%= submit_tag 'Search', class: "btn btn-outline-success" %>
    <% end %>
  </div>
</nav>

<%= render @user %>

<div id="repositories" class='mt-5'>
  <table class="table table-responsive table-bordered table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>url</th>
        <th>language</th>
        <th>Star count</th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%=repository.title %></td>
          <td><%=repository.url %></td>
          <td><%=repository.language %></td>
          <td><%=repository.star_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-outline-danger" %>
  <%= link_to "Back to users", users_path, class: "btn btn-outline-dark" %>
</div>

<div class='pt-5'>
  <%= will_paginate @repositories %>
</div>
