<p style="color: green"><%= notice %></p>

<%= render @user %>

<%= form_tag(user_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search users by title language star count...' %>
  <%= submit_tag 'Search' %>
<% end %>

<div id="repositories">
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>url</th>
        <th>language</th>
        <th>Star count</th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%=repository.title %></td>
          <td><%=repository.url %></td>
          <td><%=repository.language %></td>
          <td><%=repository.star_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @repositories %>

<div>
  <%= button_to "Destroy this user", @user, method: :delete %>
  <%= link_to "Back to users", users_path %>
</div>
